/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fefefe;
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
    background-color: #212121;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
}

nav ul {
    list-style:  none;
    display: flex;
    gap: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav ul li a:hover{
    color: #fdd835;
}

/* Hero Section */
.hero {
    background: url("https://images.pexels.com/photos/2983464/pexels-photo-2983464.jpeg") no-repeat center center/cover;
    padding: 80px 20px;
    text-align: center;
    color: #fff;
    background-color: #424242;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

/* Products Section */
.products {
    padding: 40px 20px;
    background-color: #fff;
}

.products h2 {
    text-align: center;
    margin-bottom: 30px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
}

.product-card {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    background-color: #fafafa;
    transition: transporm 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-card button {
    background-color: #e91e63;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.product-card button:hover {
    background-color: #c2185b;
}

/* Footer */
footer {
    background-color: #212121;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin: 50px;
}